/******************/
/*   variables /  */
/* color scheming */
/******************/
:root {
  --pink: hotpink;
  --pink-hover: deeppink;
  --green-main: #5BBD86;
  --blue-main: #666CB8;
  --orange-main: #FF977B;
  --yellow-main: #FFDC7B;
  --white: #fff8e7;
  --background: rgb(19, 19, 19);
}

/**************/
/* resets lol */
/**************/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #fff8e7;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  cursor: default;
}

flex-container {
  display: flex;
}

/*
        _____
    ,-:` \;',`'-, 
  .'-;_,;  ':-;_,'.
 /;   '/    ,  _`.-\
| '`. (`     /` ` \`|
|:.  `\`-.   \_   / |
|     (   `,  .`\ ;'|
 \     | .'     `-'/
  `.   ;/        .'
    `'-._____. `
*/

/****************/
/* global stuff */
/****************/

body {
  background-color: var(--background);
  height: 100%;
}
a {
  text-decoration: none;
  color: var(--pink);
}
grid-body {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(5, 1fr);
  gap: .69em .69em;
}

/****************/
/* custom stuff */
/****************/

.topBar {
  background-color: var(--yellow-main);
  align-items: center;
  justify-content: space-between;
  padding: .42em;
}
.topBar h1 {
  color: var(--blue-main);
}
.topBar p {
  color: var(--blue-main);
}

.article {
  margin-top: 5rem;
  align-items: center;
  flex-direction: column;
}
.article #titleBox {
  text-align: center;
}
.article #buttons {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.article #buttons a {
  background-color: var(--blue-main);
  color: #FFDC7B;
  border-radius: 15%;
  padding: .69rem;
  margin: .69rem;
}
.article #buttons a:hover {
  cursor: grab;
}

/* i don't understand why this no work */
/* #buttons {
  display: flex;
  justify-content: space-between;
} */




@media screen and (max-width: 750px) {
  flex-container {
    justify-content: center;
  }  
  flex-container p {
    display: none;
  }
}