/******************/
/*   variables /  */
/* color scheming */
/******************/
:root {
  --pink: hotpink;
  --pink-hover: deeppink;
  --green-main: #5BBD86;
  --blue-main: #666CB8;
  --orange-main: #FF977B;
  --yellow-main: #FFDC7B;
  --white: #fff8e7;
  --background: rgb(19, 19, 19);
}

/**************/
/* resets lol */
/**************/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #fff8e7;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  cursor: default;
}

flex-container {
  display: flex;
}

/*
        _____
    ,-:` \;',`'-, 
  .'-;_,;  ':-;_,'.
 /;   '/    ,  _`.-\
| '`. (`     /` ` \`|
|:.  `\`-.   \_   / |
|     (   `,  .`\ ;'|
 \     | .'     `-'/
  `.   ;/        .'
    `'-._____. `
*/

/****************/
/* global stuff */
/****************/

body {
  background-color: var(--background);
  height: 100%;
}
a {
  text-decoration: none;
  color: var(--pink);
}
grid-body {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(5, 1fr);
  gap: .69em .69em;
}

/****************/
/* custom stuff */
/****************/

.topBar {
  background-color: var(--yellow-main);
  align-items: center;
  justify-content: space-between;
  padding: .42em;
}
.topBar h1 {
  color: var(--blue-main);
}
.topBar p {
  color: var(--blue-main);
}

.article {
  margin-top: 5rem;
  align-items: center;
  flex-direction: column;
}
.article #titleBox {
  text-align: center;
}
.article #buttons {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.article #buttons a {
  background-color: var(--blue-main);
  color: #FFDC7B;
  border-radius: 15%;
  padding: .69rem;
  margin: .69rem;
  animation: vibrate 500ms infinite;
}
.article #buttons a:hover {
  animation: none;
  cursor: grab;
}

@keyframes vibrate{
  0% { transform: translate(1px, 1px) rotate(0deg); }
10% { transform: translate(-1px, -2px) rotate(-1deg); }
20% { transform: translate(-3px, 0px) rotate(1deg); }
30% { transform: translate(3px, 2px) rotate(0deg); }
40% { transform: translate(1px, -1px) rotate(1deg); }
50% { transform: translate(-1px, 2px) rotate(-1deg); }
60% { transform: translate(-3px, 1px) rotate(0deg); }
70% { transform: translate(3px, 1px) rotate(-1deg); }
80% { transform: translate(-1px, -1px) rotate(1deg); }
90% { transform: translate(1px, 2px) rotate(0deg); }
100% { transform: translate(1px, -2px) rotate(-1deg); }
}




@media screen and (max-width: 750px) {
  flex-container {
    justify-content: center;
  }  
  flex-container p {
    display: none;
  }
}